# Ignore the following directories
build/
bin/
lib/
.idea/
cmake-build-debug/
cmake-build-release/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# python dependency
venv/
