[submodule "Hazel/external/glfw"]
	path = Hazel/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Hazel/external/stb"]
	path = Hazel/external/stb
	url = https://github.com/nothings/stb.git
[submodule "Hazel/external/glm"]
	path = Hazel/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Hazel/external/spdlog"]
	path = Hazel/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel/external/imgui"]
	path = Hazel/external/imgui
	url = https://github.com/YUZHIGUIYI/imgui.git
	branch = docking
[submodule "Hazel/external/entt"]
	path = Hazel/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "Hazel/external/yaml-cpp"]
	path = Hazel/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Hazel/external/ImGuizmo"]
	path = Hazel/external/ImGuizmo
	url = https://github.com/YUZHIGUIYI/ImGuizmo.git
